# Import Needed Libraries

In [72]:
import pandas as pd 
from sklearn import preprocessing 
from sklearn.model_selection import train_test_split 
from sklearn import linear_model
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report, roc_auc_score

In [73]:
#read data
df=pd.read_csv("student_scores - student_scores.csv")
print(df.shape)
print(df)

(25, 2)
    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [74]:
#check null
df.isna().sum()

Hours     0
Scores    0
dtype: int64

In [75]:
#check dupplication
df.duplicated().value_counts()

False    25
dtype: int64

In [76]:
Hours = df.drop('Scores',axis='columns')
print(type(Hours))
Hours

<class 'pandas.core.frame.DataFrame'>

    Hours
0     2.5
1     5.1
2     3.2
3     8.5
4     3.5
5     1.5
6     9.2
7     5.5
8     8.3
9     2.7
10    7.7
11    5.9
12    4.5
13    3.3
14    1.1
15    8.9
16    2.5
17    1.9
18    6.1
19    7.4
20    2.7
21    4.8
22    3.8
23    6.9
24    7.8

In [77]:
Scores = df.Scores
print(type(Scores))
Scores

<class 'pandas.core.series.Series'>

0     21
1     47
2     27
3     75
4     30
5     20
6     88
7     60
8     81
9     25
10    85
11    62
12    41
13    42
14    17
15    95
16    30
17    24
18    67
19    69
20    30
21    54
22    35
23    76
24    86
Name: Scores, dtype: int64

In [78]:
# Create linear regression object
reg = linear_model.LinearRegression() 
reg.fit(Hours,Scores)

LinearRegression()

In [79]:
reg.score(Hours,Scores)

0.9529481969048356

In [80]:
reg.predict([[9.25]])

C:\Users\Eman_Abdelkader\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([92.90985477])